{% extends 'base.html' %}

{% block title %} phishing Pages{% endblock  %}

{%block content %} 

<div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename="logos/facebook.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Facebook</h5>
              <p class="card-text">Facebook Login Page phishing</p>
              <a href="/buld_scams?scam_name=facebook" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/netflix.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Netflix</h5>
              <p class="card-text">Netflix Fake Loging Page</p>
              <a href="/buld_scams?scam_name=netflix" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/snapchat.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Snapchat</h5>
              <p class="card-text">Snapchat Fake Loging Page</p>
              <a href="/buld_scams?scam_name=snapchat" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>


  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename="logos/messanger.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Facebook Messanger</h5>
              <p class="card-text">Facebook Messanger Login Page phishing</p>
              <a href="/buld_scams?scam_name=messanger" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/github.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GitHub</h5>
              <p class="card-text">Github Fake Loging Page</p>
              <a href="/buld_scams?scam_name=github" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/gitlab.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gitlab</h5>
              <p class="card-text">Gitlab Fake Loging Page</p>
              <a href="/buld_scams?scam_name=gitlab" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>


  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename="logos/google.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">Google Login Page phishing</p>
              <a href="/buld_scams?scam_name=google" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/google.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Google new</h5>
              <p class="card-text">Google new Fake Loging Page</p>
              <a href="/buld_scams?scam_name=google-new" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/insta2.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Instagram Followers</h5>
              <p class="card-text">Instagram Followers Fake Loging Page</p>
              <a href="/buld_scams?scam_name=instagram-follow" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>



  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/yandex.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Yandex</h5>
              <p class="card-text">Yandex Login Page phishing</p>
              <a href="/buld_scams?scam_name=yandex" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/instagram-security.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">InstaGram Security</h5>
              <p class="card-text">InstaGram Security Fake Loging Page</p>
              <a href="/buld_scams?scam_name=instagram-security" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/insta2.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Instagram Followers 2</h5>
              <p class="card-text">another Instagram Followers Fake Loging Page</p>
              <a href="/buld_scams?scam_name=instafollowers" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>



  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/yahoo.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">yahoo</h5>
              <p class="card-text">yahoo Login Page phishing</p>
              <a href="/buld_scams?scam_name=yahoo" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/wordpress.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">WordPress Security</h5>
              <p class="card-text">WordPress  Fake Loging Page</p>
              <a href="/buld_scams?scam_name=wordpress" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/twitetr.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Twitter </h5>
              <p class="card-text">Twitter Fake Loging Page</p>
              <a href="/buld_scams?scam_name=twitter" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>



  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/tiktok.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TikTok</h5>
              <p class="card-text">TikTok Login Page phishing</p>
              <a href="/buld_scams?scam_name=tiktok" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/steam.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Steam Security</h5>
              <p class="card-text">Steam  Fake Loging Page</p>
              <a href="/buld_scams?scam_name=steam" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/spotify.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Spotify </h5>
              <p class="card-text">Spotify Fake Loging Page</p>
              <a href="/buld_scams?scam_name=spotify" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>



  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/paypal.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paypal</h5>
              <p class="card-text">Paypal Login Page phishing</p>
              <a href="/buld_scams?scam_name=paypal" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/playstation.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">playstation</h5>
              <p class="card-text">playstation  Fake Loging Page</p>
              <a href="/buld_scams?scam_name=playstation" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/proton.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Protonmail </h5>
              <p class="card-text">Protonmail Fake Loging Page</p>
              <a href="/buld_scams?scam_name=protonmail" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>



 


  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/microsoft.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Microsoft</h5>
              <p class="card-text">Microsoft Login Page phishing</p>
              <a href="/buld_scams?scam_name=microsoft" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/mediafire.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mediafire</h5>
              <p class="card-text">Mediafire  Fake Loging Page</p>
              <a href="/buld_scams?scam_name=mediafire" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/linkedin.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LinkedIn </h5>
              <p class="card-text">LinkedIn Fake Login Page</p>
              <a href="/buld_scams?scam_name=linkedin" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>



  <div class="container pt-4">
    <div class="row">
      <div class="col">
        
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/adobe.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Adobe</h5>
              <p class="card-text">Adobe Login Page phishing</p>
              <a href="/buld_scams?scam_name=adobe" class="btn btn-primary">build Scam</a>
            </div>
          </div>

      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 21rem;">
            <img src="{{url_for('static',filename="logos/dropbox.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DropBox</h5>
              <p class="card-text">DropBox  Fake Loging Page</p>
              <a href="/buld_scams?scam_name=dropbox" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/ebay.png")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ebay </h5>
              <p class="card-text">Ebay Fake login Page</p>
              <a href="/buld_scams?scam_name=ebay" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>


  <div class="container pt-4">
    <div class="row">


      <div class="col pt-3">
        <div class="card" style="width: 18rem; height: 22rem;">
            <img src="{{url_for('static',filename="logos/Orign.jpg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Orign </h5>
              <p class="card-text">Orign Fake Loging Page</p>
              <a href="/buld_scams?scam_name=orign" class="btn btn-primary">build Scam</a>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>


{%endblock %}